{% extends 'pr_app/Base.html' %}



{% block title %}
Search
{% endblock title %}



{% block Content %}





<div class="row justify-content-center">
    <h1>Fetch Properties by City Name </h1>

    <div class="col-md-8">

        <form action="" method="post">
            {% csrf_token %}

            <div class="my-4">
                <label for="exampleFormControlInput1" class="form-label">City Name</label>
                <input type="text" class="form-control" name="city" id="exampleFormControlInput1"
                    placeholder="Enter City Name." required>
            </div>

            <input type="submit" value="Find Property" class="btn btn-outline-danger">
            <a href="/" class="btn btn-outline-success mx-2">Home</a>

        </form>
    </div>




    <div class="my-4">
        {% if properties %}


        <h3>Show All Properties Details </h3>
        <table class="table table-success table-striped">

            <thead>
                <tr>
                    <th scope="col">Sr.no.</th>
                    <th scope="col">Property Name</th>
                    <th scope="col">Property Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for Pr in properties  %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ Pr.Property_name }}</td>
                    <td>{{ Pr.Property_address }}</td>
                    <td>{{ Pr.City_name }}</td>
                    <td>{{ Pr.State_name }}</td>
                    <td><a href="{% url 'Update' Pr.Pr_id %}" class="btn btn-warning">Update</a></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        {% else %}


        <h3>I didn't found any property</h3>
        {% endif %}
    </div>



</div>

{% endblock %}